{% extends 'polls/base.html' %}
{% load static %}

<div id="content">
{% block content%}
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js">
</script>

<form method="POST" action="{% url 'polls:create_poll' %}"> {% csrf_token %}
    <h1>Hello {{user}}, create your own poll for free</h1>
    <div class="poll-creation-form">
        <div class="title"><input type="text" id="poll_question" placeholder="Question" required="required"></div>
        <div class="options">
            <input type="text" id="poll_choice" placeholder="Add option">
        </div>
        <div>
            <input type="submit" value="Create"/>
        </div>
    </div>        
</form>
{% endblock %}
</div>