{% extends 'polls/base.html' %}
{% load static %}
<div id="content">
{% block content%}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}">
    <h1> {{question.question_text}}</h1>
{% if error_message %} <strong>{{error_message}}</strong> {% endif %}

    <form action="{% url 'polls:votes' question.id %}" method="post"> {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{choice.id}}">
        <label for="choice{{forloop.counter}}">{{choice.choice_text}}</label><br>
        {% endfor %}
    <br>
    <div id="vote-btn">
        <input type="submit" value="Vote">
    </div>
    </form>
{% endblock %}
</div>